[package]
name = "bufkit-data"
version = "0.11.2"
authors = ["Ryan <rnleach@users.noreply.github.com>"]
description = "A crate to manage an archive of bufkit files."
repository = "https://github.com/rnleach/bufkit-data.git"
readme = "README.md"
keywords = ["meteorology", "weather", "sounding"]
categories = ["science"]
license = "MIT"
edition="2018"

[badges]
appveyor = { repository = "rnleach/bufkit-data", branch = "master", service = "github" }
travis-ci = { repository = "rnleach/bufkit-data", branch = "master" }

[dependencies]
chrono = "^0.4"
flate2 = {version = "1.0", features = ["rust_backend"], default-features = false }
rusqlite = { version = "0.21", features = ["bundled", "chrono"], default-features = false }
sounding-analysis = "^0.13"
sounding-bufkit = "0.13"
strum = "0.18"
strum_macros = "0.18"

[dev-dependencies]
tempdir = "0.3"

[profile.release]
lto = true
panic = 'abort'
